---
layout: default
title: Protocols
---

<section class="archive">

<h2>Protocols</h2>

Protocols and other links for resources within the lab.

{% for post in site.categories.protocols %}

  <article class="row gutters">
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
    <div class="post-date col span_4">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
    </div>
  </article>

{% endfor %}



{% capture my_include %}{% include protocol_links.md %}{% endcapture %}
{{ my_include | markdownify }}

</section>
