---
layout: default
title: Lab Meeting Schedule
---

<h2>Lab Meeting Schedule</h2>

{% assign meet_sort = (site.data.meetings) %}


<table>
  <tr>
    <th>Date</th>
    <th>Presenter</th>
    <th>Topic</th>
    <th>Room</th>
    <th>Treat Duty</th>
  </tr>
  {% for meeting in meet_sort %}
  <tr>
    <td>{{meeting.date}}</td>
    <td>{{meeting.presenter}}</td>
    <td>{{meeting.topic}}</td>
    <td>{{meeting.room}}</td>
    <td>{{meeting.treats}}</td>
  </tr>
  {% endfor %}
</table>




<table>
  <tr>
    <th>Date</th>
    <th>Presenter</th>
    <th>Topic</th>
    <th>Room</th>
    <th>Treat Duty</th>
  </tr>
  {% for meeting in meet_sort %}
  <tr>
    <td>{{meeting.date}}</td>
    <td>{{meeting.presenter}}</td>
    <td>{{meeting.topic}}</td>
  </tr>
  {% endfor %}
</table>
