---
layout: default
title: Lab Meeting Schedule
---

<h2>Lab Meeting Schedule</h2>

{% assign meet_sort = (site.data.meetings | sort: 'date') %}
{% assign future_meet = (meet_sort | where_exp:'item', "item.date > site.time") %}
{% assign past_meet =   (meet_sort | where_exp:'item', "item.date < site.time") %}

<table>
  <tr>
    <th>Date</th>
    <th>Presenter</th>
    <th>Topic</th>
    <th>Room</th>
    <th>Treat Duty</th>
  </tr>
  {% for meeting in future_meet %}
  <tr>
    <td>{{meeting.date | date: "%b %-d %Y %-I:%-M %P"}}</td>
    <td>{{meeting.presenter}}</td>
    <td>{{meeting.topic}}</td>
    <td>{{meeting.room}}</td>
    <td>{{meeting.treats}}</td>
  </tr>
  {% endfor %}
</table>

<br />
<br />
<br />

<h2>Previous Lab Meetings</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Presenter</th>
    <th>Topic</th>
  </tr>
  {% for meeting in past_meet %}
  <tr>
    <td>{{meeting.date | date: "%b %-d %Y"}}</td>
    <td>{{meeting.presenter}}</td>
    <td>{{meeting.topic}}</td>
  </tr>
  {% endfor %}
</table>
