<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.data.brume.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
<meta name="author" content="{{ site.data.brume.author }}">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title -->
<title>{{ site.data.brume.name }} &middot; {{ page.title }}</title>

<!-- icons -->
<link rel="shortcut icon" href="{{site.baseurl}}/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css">

<!-- mastodon -->
<link rel="me" href="https://mastodon.social/@aarmey">

<!-- animation -->
<style>
    @keyframes logoAnimation {
        0% {
            transform: scale(0);
            opacity: 0;
            box-shadow: 0 0 0 0 rgba(0, 103, 161, 0);
        }
        30% {
            transform: scale(1);
            opacity: 1;
            box-shadow: 0 0 0 0 rgba(0, 103, 161, 0);
        }
        100% {
            transform: scale(1);
            opacity: 1;
            box-shadow: 0 0 0 17.5px rgba(0, 103, 161, 0.3);
        }
    }

    #logo {
        width: 52px;
        height: 52px;
        background-color: #000;
        border-radius: 50%;
        margin-top: 20px;
        animation: logoAnimation 1s ease-out forwards;
    }
</style>

<!-- feed links -->
<link rel="alternate" href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">
