{% assign ref = include.ref %}
{% assign year = ref.issued | prepend: "" | slice: 0, 4 %}

<dd>
{% if ref.url %}<b><a href="{{ ref.url }}">{{ ref.title }}.</a></b>
{% else %}<b>{{ ref.title }}.</b>
{% endif %}

{% for author in ref.author %}{% unless forloop.first %}, {% endunless %}{{ author.family }} {{ author.given | slice: 0 }}.{% endfor %}
<em>{{ ref["container-title"] }}</em>{% if ref.volume %} {{ ref.volume }}{% if ref.issue %}({{ ref.issue }}){% endif %}{% endif %}{% if ref.page %}:{{ ref.page }}{% endif %}, {{ year }}.

<span class="minilinks">
{% if ref.pmid %}<a title="pubmed" href="https://pubmed.ncbi.nlm.nih.gov/{{ ref.pmid }}/"><svg class="svg-icon"><use href="#scif-pubmed"></use></svg></a>
{% elsif ref.pmcid %}<a title="pubmed" href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ ref.pmcid }}/"><svg class="svg-icon"><use href="#scif-pubmed"></use></svg></a>{% endif %}
{% if ref.doi %}<a title="doi" href="https://doi.org/{{ ref.doi }}"><svg class="svg-icon"><use href="#scif-doi"></use></svg></a>{% endif %}
{% if ref.abstract %}<a href="#" onclick="toggle('{{ ref.id }}_abstract')">[Abstract]</a>{% endif %}
</span>

{% if ref.abstract %}<p class="abstract" id="{{ ref.id }}_abstract" style="display:none"><b>Abstract:</b> {{ ref.abstract }}</p>{% endif %}
</dd>
