{{ define "main" }}
<section class="archive">
<h2>Essential Reading</h2>
  <div class="bundle row gutters">

{{ range where .Site.RegularPages "Section" "literature" }}
  <article class="row gutters">
    <h3 class="col span_8"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>{{ with index .Params "external-url" }} - <a href="{{ . }}"><svg class="svg-icon"><use href="#fa-external"></use></svg></a>{{ end }}</h3>

    <div class="post-date col span_4">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    </div>

    <div class="col span_12">
      {{ .Content }}
    </div>

  </article>
{{ end }}

</div>
</section>
{{ end }}
