<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "icons.html" . }}

    <div class="container azul">
      <header class="top row gutters{{ if eq .Title "/" }} fadeInLeft animated{{ end }}">
        <div class="col span_2 center">
          <div id="logo"></div>
        </div>
        {{ partial "navigation.html" . }}
      </header>

      {{ block "main" . }}{{ end }}

      <footer>
        <div class="col span_8 center">
          <a href="https://www.ucla.edu"><img src="/public/images/uclalogo.svg" alt="UCLA logo"></a>
        </div>
        <div class="col span_4 center">
          <span style="font-size: 3em;"><a href="https://github.com/meyer-lab"><svg class="svg-icon"><use href="#fa-github"></use></svg></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:me@ameyer.me"><svg class="svg-icon"><use href="#fa-envelope"></use></svg></a></span>
        </div>
      </footer>
    </div>

  <script>
  function toggle(key) {
    var element = document.getElementById(key)
    if (element.style.display == 'block') {
      element.style.display = 'none'
    } else {
      element.style.display = 'block'
    }
  }
  </script>
  </body>
</html>
