{{ define "main" }}
<article class="single row gutters">
  <time class="published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  <h2>{{ .Title }}{{ with index .Params "external-url" }} - <a href="{{ . }}"><svg class="svg-icon"><use href="#fa-external"></use></svg></a>{{ end }}</h2>

  {{ with .Params.img }}<img src="{{ . }}">{{ end }}

  {{ .Content }}

  <div class="post-tag">{{ range .GetTerms "tag" }}#<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>&nbsp;&nbsp;{{ end }}</div>
</article>
{{ end }}
