---
---

{% if entry.url %}
    <b><a href="{{entry.url}}">{{entry.title}}.</a></b>
{% else %}
    <b>{{entry.title}}.</b>
{% endif %}

{{reference}} <!-- this is just author information -->

<span class="minilinks">

{% if entry.preprint %}
    <a title="preprint" href="{{entry.preprint}}"><svg class="svg-icon"><use xlink:href="#scif-biorxiv"></use></svg></a>
{% endif %}

{% if entry.pmid %}
    <a title="pubmed" href="https://pubmed.ncbi.nlm.nih.gov/{{entry.pmid}}/"><svg class="svg-icon"><use xlink:href="#scif-pubmed"></use></svg></a>
{% endif %}

{% if entry.doi %}
    <a title="doi" href="https://doi.org/{{entry.doi}}"><svg class="svg-icon"><use xlink:href="#scif-doi"></use></svg></a>
{% endif %}

{% if entry.abstract %}
    <span onclick="toggle('{{entry.key}}_abstract')">[Abstract]</span>
{% endif %}

</span>

{% if entry.abstract %}
    <p class="abstract" id="{{entry.key}}_abstract" style="display:none"> <b>Abstract:</b> {{ entry.abstract }}</p>
{% endif %}

<script>
function toggle(key) {
    var element = document.getElementById(key)
    if (element.style.display == 'block') {
        element.style.display = 'none'
    } else {
        element.style.display = 'block'
    }
}
</script>
