<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include icons.html %}
    
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
        <div id="logo"></div>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <div class="col span_8 center">
          <a href="https://www.ucla.edu"><img src="{{site.baseurl}}/public/images/uclalogo.svg" alt="UCLA logo"></a>
        </div>
        <div class="col span_4 center">
          <span style="font-size: 3em;"><a href="https://github.com/meyer-lab"><svg class="svg-icon"><use xlink:href="#fa-github"></use></svg></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:me@ameyer.me"><svg class="svg-icon"><use xlink:href="#fa-envelope"></use></svg></a></span>
        </div>
      </footer>
    </div>

  </body>
</html>
