name: Build website

on: push

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  jekyll:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Run Typst
        run: typst compile --root . _CV/CV.typ public/CV.pdf

      - name: Build jekyll
        run: bundle exec jekyll build

      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - name: Run lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: false
          args: --root-dir "$(pwd)/_site" --accept '100..=103,200..=299,403' --cache --max-cache-age 14d _site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "_site"
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
